<div class="ion-padding">
  <div class="container">
    <h1>Ingresa Prenda de Ropa para lavanderia:</h1>
    <form (ngSubmit)="agregarProducto()"> <!-- Puedes usar (ngSubmit) para manejar el evento de envío -->
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="nombre_prenda" name="nombre_prenda" required></ion-input> <!-- name es requerido para ngModel -->
        </ion-item>
        <!-- No es necesario un campo de cantidad, ya que se establece a 1 en el componente -->
          <ion-item>
           <ion-label position="floating">Cantidad</ion-label>
           <ion-input [(ngModel)]="cantidad" name="cantidad" type="number" required></ion-input>
        </ion-item>
        <!-- <select [(ngModel)]="roperia_id" name="roperia_id">
          <option *ngFor="let producto of productos" [value]="producto.id">{{ producto.nombre_prenda }}</option>
        </select> -->
        
        
      </ion-list>
      <ion-button expand="block" type="submit" class="ion-margin-top">Enviar</ion-button> <!-- El botón puede disparar el ngSubmit -->
    </form>
  </div>
</div>
<div class="container">
 <h3>ropa ingresada recientemente</h3> 
  <ion-list>
    <ion-item *ngFor="let producto of productos">
      <ion-label>Nombre</ion-label>
      <ion-input [(ngModel)]="producto.nombre_prenda" [name]="'nombre_prenda_' + producto.id"></ion-input>
      <ion-label>Cantidad</ion-label>
      <ion-input [(ngModel)]="producto.cantidad" [name]="'cantidad_' + producto.id" type="number" min="1"></ion-input>
      <ion-button (click)="onProductoChange(producto)">Editar</ion-button>
      <ion-button color="danger" (click)="eliminarProducto(producto.id)">Eliminar</ion-button>
    </ion-item>
    
  </ion-list>
</div>


