<div class="ion-padding">
  <div class="container">
    <h1>Ingresa Prenda de Ropa:</h1>
    <form (ngSubmit)="agregarProducto()"> <!-- Puedes usar (ngSubmit) para manejar el evento de envío -->
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" name="nombre"></ion-input> <!-- name es requerido para ngModel -->
        </ion-item>
        <!-- No es necesario un campo de cantidad, ya que se establece a 1 en el componente -->
        <ion-item>
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input [(ngModel)]="cantidad" name="cantidad" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-input [(ngModel)]="descripcion" name="descripcion"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" type="submit" class="ion-margin-top">Enviar</ion-button> <!-- El botón puede disparar el ngSubmit -->
    </form>
  </div>
</div>
<div class="container">
  <ion-list>
    <ion-item *ngFor="let prenda of prendas">
      <ion-label>{{ prenda.nombre }}</ion-label>
      <ion-label>{{ prenda.cantidad }}</ion-label>
      <ion-label>{{ prenda.descripcion }}</ion-label>
      <ion-button (click)="onPrendaChange(prenda)">Editar</ion-button>
    </ion-item>
  </ion-list>
</div>

