<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input label="RUT" formControlName="rut"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña" type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
    <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
  </form>
</ion-content>
